beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
ddddocr==1.4.3
flatbuffers==2.0
idna==3.3
numpy==1.22.3
onnxruntime==1.10.0
opencv-python==4.5.5.64
Pillow==9.0.1
protobuf==3.19.4
requests==2.27.1
soupsieve==2.3.1
urllib3==1.26.8
